.directory
build/
filesystem/
*.z64
.vscode/
node_modules/

# Blender backup files
*.blend[0-9]

# libdragon docker creates these but i don't want to deal with git submodules
.gitmodules
.libdragon/
libdragon/
